<h1>Register</h1>
<form action="/users/register" method="POST">
    <label for="username">Username</label>
    <input
        type="text"
        name="username"
        placeholder="Enter User Name"
        value="<%= typeof name != 'undefined' ? name : '' %>"
    /></br>
    <label for="password">Password</label>
    <input
        type="password"
        name="password"
        placeholder="Create Password"
        value="<%= typeof password != 'undefined' ? password : '' %>"
    /></br>
    <label for="password2">Confirm Password</label>
    <input
        type="password"
        name="password2"
        placeholder="Confirm Password"
        value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
    /></br>
    </div>
    <button type="submit">Register</button>
</form>
<p>Have An Account? <a href="/users/login">Login</a></p>