<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title>Restaurant Create</title>
</head>
<body>
    <div class="container-fluid">
        <h1>Create Restaurant</h1>
        <hr>
        <div class="content col-md-8">
            <form action="/restaurant/create" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="">Name</label>
                    <input name="name" class="form-control" type="text" required="">
                </div>
                <div class="form-group">
                    <label class="">Cuisine</label>
                    <input name="cuisine" class="form-control" type="text">
                </div>
                <div class="form-group">
                        <label class="">Borough</label>
                        <input name="borough" class="form-control" type="text">
                    </div>
                <div class="form-group">
                    <label class="">Street</label>
                    <input name="street" class="form-control" type="text">
                </div>
                <div class="form-group">
                    <label class="">Building</label>
                    <input name="building" class="form-control" type="text">
                </div>
                <div class="form-group">
                    <label class="">Zipcode</label>
                    <input name="zipcode" class="form-control" type="text">
                </div>
                <div class="form-group">
                    <label class="">GPS Coordinates (lon.)</label>
                    <input name="lon" class="form-control" type="number" step="0.00001">
                </div>
                <div class="form-group">
                    <label class="">GPS Coordinates (lat.)</label>
                    <input name="lat" class="form-control" type="number" step="0.00001">
                </div>
                <div class="form-group">
                    <label class="">Photo</label>
                    <input name="restaurant_photo" class="form-control" type="file">
                </div>
                <button class="btn btn-primary"> Create </button>
            </form>
            <hr>
            <div class="option">
                <a class="btn btn-outline-primary" href="/users/logout">Logout</a>
                <button class="btn btn-outline-primary" onclick="window.history.back()">Go Back</button>
            </div>
        </div>
    </div>
</body>
</html>