<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title>Restaurant Rate</title>
</head>
<body>
    <div class="container-fluid">
        <h1>Rate</h1>
        <hr>
        <div class="contrainer">
            <form action="/restaurant/rate?_id=<%= restaurant_id %>" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                        <label class="">Score(1 - 10):</label>
                        <input class="form-control" name="score" type="number" min="1" max="10">
                </div>
                <button class="btn btn-primary"> Submit </button>
            </form>
            <hr>
            <a class="btn btn-outline-primary" href="/">Home</a>
            <button class="btn btn-outline-primary" onclick="window.history.back()">Go Back</button>
        </div>
    </div>  
</body>
</html>