<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
    <title>Restaurant Map</title>
</head>
<body>
    <h1>Map</h1>
    <div class="contrainer">
        <div id="mapid" style="height: 180px">
        </div>
        <p><a href="/">Home</a><p>    
    </div>
    <script>
        const ACCESS_TOKEN = "pk.eyJ1IjoiZm9ycmVnaXN0ZXJvbmx5IiwiYSI6ImNrM2s3OGt5eTBxcXozZXQ3cXdpNnVodjQifQ.43VxKPWVg3Huw7DCK8Immw";
        let latitude = <%= location.latitude %>;
        let longitude = <%= location.longitude %>;

        var mymap = L.map('mapid').setView([latitude, longitude], 13);
        var marker = L.marker([latitude, longitude]).addTo(mymap);

        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            accessToken: ACCESS_TOKEN
        }).addTo(mymap);
    </script>
</body>
</html>